body{
    background-color : rgb(207, 195, 195);
    margin : 0px;
  }


h1, h2, h3, h4, h5, h6 {
    font-family: Courier New, Courier, monospace;
    color: rgb(247,72,75);
    text-align : center;
}

h1#main-header{
    top : 0px;
    font-size : 80px;
    text-align : center;
    /*background-image : url()*/
    background: rgb(247,72,75);
    height : 120px;
    margin : 0px;
    padding : 15px;
    color : white;
}

.eye-friendly-block {
    font-family: Courier New, Courier, monospace;
    background: white;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 30px;
    padding: 15px;
    color: rgb(247,72,75);
    font-weight : bold;
}

p.eye-friendly-block{
    text-indent : 50px;
}


ul.eye-friendly-block{
    padding-left : 50px;
}

a:visited, a:link, a:active{
    text-decoration : none;
}

a:hover {
    background: rgb(247,72,75);
    color : white;
}

a.nav-button{

}