body{
    background-color : rgb(207, 195, 195);
    margin : 0px;
  }


h1, h2, h3, h4, h5, h6 {
    font-family: Courier New, Courier, monospace;
    color: rgb(247,72,75);
    text-align : center;
}

h1#main-header{
    top : 0px;
    font-size : 80px;
    text-align : center;
    /*background-image : url()*/
    background: rgb(247,72,75);
    height : 120px;
    margin : 0px;
    padding : 15px;
    color : white;
}

.eye-friendly-block{
    font-family: Courier New, Courier, monospace;
    background: rgb(120,120,120);
    margin-left : 15px;
    margin-right : 15px;
    border-radius: 30px;
    padding: 15px;
    color: white;
}


ul.eye-friendly-block{
    margin-left : 100px;
    padding-left : 50px;
    width : 60%;
}